* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  padding: 0px;
  margin: 0px;
  outline: none;
}

body {
  background-color: #242424;
  color: #f2f1f1;
}

header {
  padding: 8px 8px 8px 16px;
  background-color: #df2525;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

header h1 {
  font-size: 24px;
}

header img {
  width: 40px;
  height: 40px;
}

.introduction {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.introduction p {
  margin-top: 4px;
  color: #bbb;
  text-align: left;
}

.introduction a{
  text-decoration-color: #df2525 ;
  color: #bbb;
}

.introduction a:hover{
  color: #df2525;
}

#form {
  max-width: 420px;
  padding: 18px 18px 50px 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#form label {
  align-self: flex-start;
  position: relative;
}

#form input {
  border: none;
  width: 100%;
  border-radius: 8px;
  margin-top: 4px;
  padding: 12px 8px;
  font-size: 15px;
}

.feedback-error{
  display: none;
  position: absolute;
  bottom: -26px;
  left: 4px;
  color: #d3850f;  
}

.border-error{
  border: 2px solid #d3850f !important;
}

.button-form {
  background-color: #df2525;
  width: 120px;
  color: #f2f1f1;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s;
  margin-top: 15px;
}

.container-result {
  display: none;
  grid-template: auto / 1fr 1fr;
  padding: 24px 24px 50px 24px;
  gap: 8px;
}

.card-explaining{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-explaining h3 {
  align-self: flex-start;
  margin-top: 16px;
}

.card-explaining ol{
  list-style-position: inside;
  align-self: flex-start;
}

.card-explaining li {
  margin-top: 4px;
  color: #bbb;
}

.container-thumbnails {
  text-align: center;
}

.cards-thumbnails {
  max-height: 500px;
  box-shadow: inset 10px 10px 10px #202020;
  padding: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.card-thumbnail{
  width: 500px;
}

.card-thumbnail > p{
  font-size: 18px;
  padding: 4px;
  font-weight: 500;
}

.card-thumb1>img,
.card-thumb2>img {
  width: 320px;
}

.card-thumb3>img,
.card-thumb4>img {
  width: 480px;
}